body{
	font-family: Franklin Gothic Medium;
}
nav{
	width: 100%;
	height: 60px;
	background: #2a3e51;
}
.logo {
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	padding-left: 388px;
	float: left;

}
.menu{
	float: left;
	padding-left: 432px;

}
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 15px;
	text-transform: uppercase;

}
.main {
	width: 100%;
	height: calc(100% - 60px);
	background: url("../img/shadow.png") no-repeat 100% 105%,url("../img/boy.png") no-repeat 90% 100%/auto 85%,url("../img/bg.png") center/cover no-repeat ;

	
}
.title_container{
	float: left;
	margin: 408px 0px 0px 404px;
	color: #2c384a;
	text-align: center;


}
.title_container h1{
	font-size: 60px;
	font-weight: bold;

	}
.title_container h4{
		margin-top: 20px;
	font-size: 25px;

	color: #79818d;
}
.title_container input{
	height: 40px;
	border: 2px solid;
	background: none;
	border-radius: 5px;
	color: #9ea3ac;
	font-size: 13px;
	padding: 0px 16px;
	margin: 40px 14px 0px 14px;
}
.page2 {
	height: 718px;
	width: 100%;
	background: url("../img/line.png")  50% 145px/5%   no-repeat  ,url("../img/boy.bw.png") 50% 200px  no-repeat,url("../img/bgPage2.png")center/cover  no-repeat  ;




}
.page2 h2{

	color:#263244;
	text-align: center;
	padding-top:  100px ;
	font-size: 28px;
	text-transform: uppercase;


  
 
}

.page2 h3{
	color: #9ca0a7;
	margin: 300px 400px 0px 400px;
	text-align:justify;
	font-size: 20px;
}
.page2 input{
	margin:  25px 0px 0px 745px ;
	padding: 0px 15px; 
	background: url("../img/button.install.png") no-repeat ;
	border:2px solid;
	color:  #9ea3ac;
	border-radius: 5px;
}
.page3{
	height: 70%;
	width: 100%;
	background: url("../img/laptop.png") 20% 270px no-repeat,url("../img/sign.png") 40% 270px no-repeat,url("../img/rocket.png") 60% 270px no-repeat,url("../img/gramophone.png")80% 270px no-repeat,url("../img/line.png")  50% 145px/5%   no-repeat,url("../img/bg3.png")no-repeat center/cover;
}

.page3 h2{

	color: #263244;
	padding-top: 105px;
	text-align:center;
	font-size: 28px;
	text-transform: uppercase;

}
.web h4{
	float: left;
	color:#cf7600;
	font-size: 20px;
	text-align: justify;
	margin: 185px 0px 5px 18%;
}
.web h5 {
	float: left;
color: #5c6471;
	text-align: center;
	width: 200px;
	height: 45px;
	margin: 200px 0px 0px -150px ;
	
}
.development h4{

	color:#cf7600;
	font-size: 20px;
	text-align: justify;
	padding: 170px 0px 0px 590px;
	
	
}
.development h5 {
	float: left;
	color: #5c6471;
	text-align: center;
	width: 200px;
	height: 45px;
	margin: -5px 0px 0px 100px;
}
.seo h4{
	color:#cf7600;
	font-size: 20px;
	text-align: justify;
	margin:-32px 0px 0px 870px;
	

}
.seo h5{
	float: left;
	color: #5c6471;
	text-align: center;
	width: 200px;
	height: 45px;
	margin: -10px 0px 0px 115px ;
	
}
.mark h4{
color:#cf7600;
	font-size: 20px;
	text-align: justify;
	margin: -34px 0px 0px 1200px;
}
.mark h5{
	float: left;
	color: #5c6471;
	text-align: center;
	width: 200px;
	height: 45px;
	margin: -45px 0px 0px 410px;
}
.page4 {
	height: 100%;
	width: 100%;
	background-color: #fff;
	background:url("../img/line.png") 50% 60px/5% no-repeat, url("../img/photo.png") 50% 50%/60% no-repeat;
}

.page4 h2{
	color: #384354;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px ;

}
.page4 h5{
	color: #646b77;
	text-transform: none;
	text-align: center;
	margin-top: 70px;
}

.text ul{
	color: #384354;
    margin:-130px 0px 0px 330px;
    line-height: 20px;

} 

.text input{
	height: 35px;
	width: 150px;
	background-color: #63b5ae;
	border-radius: 7px;
	color: #fff;
	font-size: 13px;
	padding: 0px 8px;
	margin: 15px 14px 0px 0px;

}
.text h1{
margin:  -125px 0px 0px 590px;
height: 90px;
width: 850px;
	color: #384354;
	font-size: 20px;



}
.text h2{
margin:  -80px 0px 0px 590px;
height: 90px;
width: 850px;
	color: #656d7b;
	font-size: 15px;
}
.page5 {
	height: 100%;
	width:100%;

	background: url("../img/lineSubtotal.png") 50% 500px/70% 0.5% no-repeat;
}
.page5 h1{
	
	text-align: center;
	font-size: 30px;
margin-top: 100px;
	color:#4d5664;
}
.page5 h2{
	margin: 70px 0px 0px 340px;
	font-size: 28px;
	color: #4d5664;
	height: 40px;
	font-weight: lighter;


}
.page5 select{
	color:#737373;
	background-color: #eeeeee;
	height: 50px;
	width:890px;
	margin-top: 20px;
	margin-left: -5px;
	font-size: 16px;
	padding: 0px 10px 0px 10px ;

}
.page5 p{
	margin: 160px 0px -150px 340px;
	font-size: 23px;
	color: #1c2534;


}
.page6 {
	height: 500px;
	width:100%;
background:url("../img/line.png")  50% 160px/5% no-repeat,url("../img/smile.png") 20% 250px/3% no-repeat,url("../img/staples.png") 40% 250px/3.5% no-repeat,url("../img/check.png")60% 250px/3% no-repeat,url("../img/cup.png") 80% 250px/3% no-repeat,url("../img/bg6.png") no-repeat center/cover;

}
.page6 h3{
	text-align: center;
	font-size: 28px;
	color:#323e4f;
	padding-top: 100px;
	text-transform: uppercase;
}


	.smile h4{
		color:  #323e4f;
		float: left;
		font-weight: bold;
	text-align: center;
	font-size: 30px;
	padding: 190px 0px 0px 19.2%;
	}
	.time h4{
		color:  #323e4f;
		float: left;
		font-weight: bold;
	text-align: center;
	font-size: 30px;
	padding: 172px 0px 0px 10.5%;
	
	}

	.project h4{
		color:  #323e4f;
		float: left;
		font-weight: bold;
	text-align: center;
	font-size: 30px;
	padding: 155px 0px 0px 10.2%;

	}
	.cup h4{
		color:  #323e4f;
		float: left;
		font-weight: bold;
	text-align: center;
	font-size: 30px;
	padding: 140px 0px 0px 11.3%;

	}
	.smile h5{
		color: #323e4f;
		float: left;
		font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	width: 222px;
	height: 20px;
	margin:  225px 0px 0px -140px;
	}
	.time h5{
color: #323e4f;
		float: left;
		font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	width: 222px;
	height: 20px;
	margin:  210px 0px 0px -150px;
	}
	.project h5{
		color: #323e4f;
	float: left;
		font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	width: 222px;
	height: 20px;
	margin:  198px 0px 0px -135px;
	}
	.cup h5{
color: #323e4f;
	float: left;
		font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	height: 20px;
	margin:  185px 0px 0px -100px;
	}
.page7 {
	height: 600px;
	width: 100%;
	background: url("../img/line.png") 50% 160px/5%  no-repeat, url("../img/man.png") 50% 200px no-repeat;
}
.page7 h3{
	text-align: center;
	font-size: 28px;
	color:#323e4f;
	padding-top: 110px;
	text-transform: uppercase;
}
.page7 p{
	text-align: center;
	color:#545b66;
	padding-top: 220px ;
}
.page7 input{
margin-left: 48.5%;
margin-right: -48.5%;
}
.page8 {
	height: 100%;
	width: 100%;
	background: url("../img/fb.png")35% 696px no-repeat,url("../img/twit.png")40% 696px no-repeat,url("../img/ball.png")45% 696px no-repeat,url("../img/cat.png")55% 696px no-repeat,url("../img/inst.png")60% 696px no-repeat,url("../img/in.png")65% 696px no-repeat,url("../img/gps.png") 40% 250px no-repeat,url("../img/letter.png") 50% 250px no-repeat,url("../img/phone.png") 60% 250px no-repeat,url("../img/line.png")  50% 160px/5% no-repeat,url("../img/bg8.png") center/cover no-repeat;
}
.page8 h3{
	text-align: center;
	color:#fff;
	padding-top: 115px;
	font-size: 28px;
	text-transform: uppercase;
}
.page8 h4{
	padding-top: 60px;
	text-align: center;
	color: #fff;
}
.page8 li{
	text-align: center;
	float: left;
	color: #fff;
	margin-left: 570px;
	margin-top: 70px;
	margin-right: -555px;
}
.page8 li a{
	color: #fff;
}

.page8 h2{
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 170px;
}
.page9{
	height: 350px;
	width:100%;
	background: url("../img/map.png") no-repeat;
}
.page9 input{
	text-align: center;
	margin: 140px 50% 50%;
	height: 50px;
	width: 140px;
	font-size: 23px;
}
.page10{
	height: 95px;
	width: 100%;
	background-color: #354051;
}
.page10 h5{
	font-size: 12px;
	text-align: center;
	padding:  50px;
	color:#fff;
}
